#wrapper {
    -fx-background-color : #dff9fb;
}

#btnAccept {
    -fx-text-fill : #fff;
    -fx-background-color : #1e90ff;
    -fx-border-color : #1e90ff;
}

#btnCancel {
    -fx-text-fill : #fff;
    -fx-background-color : #ff4757;
    -fx-border-color : #ff4757;
}

#btnAccept:hover {
    -fx-text-fill : #1e90ff;
    -fx-background-color : #fff;
}

#btnCancel:hover {
    -fx-text-fill : #ff4757;
    -fx-background-color : #fff;
}