#btnConnect {
    -fx-text-fill: #fff;
    -fx-background-color: #2f3542;
    -fx-border-color: #2f3542;
}

#btnConnect: hover {
    -fx-text-fill: #2f3542;
    -fx-background-color: #fff;
    -fx-border-color: #2f3542;
}


#btnDisconnect {
    -fx-text-fill: #fff;
    -fx-background-color: #ff4757;
    -fx-border-color: #ff4757;
}

#btnDisconnect: hover {
    -fx-text-fill: #ff4757;
    -fx-background-color: #fff;
    -fx-border-color: #ff4757;
}


#btnSendFile {
    -fx-text-fill: #fff;
    -fx-background-color: #1e90ff;
    -fx-border-color: #1e90ff;
}

#btnSendFile: hover {
    -fx-text-fill: #1e90ff;
    -fx-background-color: #fff;
    -fx-border-color: #1e90ff;
}