#btnConnect {
    -fx-text-fill: #fff;
    -fx-background-color: #1e90ff;
    -fx-border-color: #fff;
}

#btnSendFile {
    -fx-text-fill: #fff;
    -fx-background-color: #1e90ff;
    -fx-border-color: #fff;
}

#btnConnect: hover {
    -fx-background-color: #70a1ff;
}

#btnSendFile: hover {
    -fx-background-color: #70a1ff;
}