#wrapper {
    -fx-background-color : #f1f2f6;
}

#btnSave {
    -fx-text-fill : #fff;
    -fx-background-color : #1e90ff;
    -fx-border-color : #1e90ff;
}

#btnSave: hover {
    -fx-text-fill : #1e90ff;
    -fx-background-color : #fff;
}

#btnCancel {
    -fx-text-fill : #fff;
    -fx-background-color : #ff4757;
    -fx-border-color : #ff4757;
}

#btnCancel: hover {
    -fx-text-fill : #ff4757;
    -fx-background-color : #fff;
}

#btnBrowse {
    -fx-text-fill : #fff;
    -fx-background-color : #4059a9;
    -fx-border-color : #4059a9;
}

#btnBrowse: hover {
    -fx-text-fill : #4059a9;
    -fx-background-color : #fff;
}