#wrapper {
    -fx-background-color : #dff9fb;
}

#btnClose {
    -fx-text-fill : #fff;
    -fx-background-color : #ff4757;
    -fx-border-color : #ff4757;
}

#btnClose:hover {
    -fx-text-fill : #ff4757;
    -fx-background-color : #fff;
}