#btnClear {
    -fx-text-fill : #1e90ff;
    -fx-background-color : #fff;
    -fx-border-color : #1e90ff;
}

#btnSend {
    -fx-text-fill : #1e90ff;
    -fx-background-color : #fff;
    -fx-border-color : #1e90ff;
}

#btnClear:hover {
    -fx-text-fill : #fff;
    -fx-background-color : #1e90ff;
}

#btnSend:hover {
    -fx-text-fill : #fff;
    -fx-background-color : #1e90ff;
}