#wrapper {
    -fx-background-color: #f1f2f6;
}

#btnSend {
    -fx-text-fill: #fff;
    -fx-background-color: #1e90ff;
    -fx-border-color: #1e90ff;
}

#btnReceive {
    -fx-text-fill: #fff;
    -fx-background-color: #1e90ff;
    -fx-border-color: #1e90ff;
}

#btnSend: hover {
    -fx-text-fill: #1e90ff;
    -fx-background-color: #fff;
    -fx-border-color: #1e90ff;
}

#btnReceive: hover {
    -fx-text-fill: #1e90ff;
    -fx-background-color: #fff;
    -fx-border-color: #1e90ff;
}